/* Index Page Styles
-------------------------------------------------- */

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

/* HTML Tags Styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}

/* CSS Classes Styles */
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container-wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

.main-text--heading {
  font-family: 'Pacifico', sans-serif;
  font-weight: 100;
  font-size: 3rem;
}
.main-text--heading--margin-top-40px {
  margin-top: 20px;
}
.main-text--paragraph {
  font-family: 'Ubuntu', sans-serif;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.display-none {
  display: none;
}

.list-keywords {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.1rem;
  margin-right: 5px;
}

.underlined-text {
  text-decoration: underline;
}

/* IDs Styles */
#addANote {
  position: fixed;
  text-align: center;
  width: 50px;
  height: 50px;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: rgba(52, 58, 64, 0.5);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
#addANote:hover {
  background: #343a40;
}

#backToHome{
  border: none;
  background: none;
  outline: none;
}

#saveNote, #editNote {
  max-width: 200px;
}

#showPreview {
  height: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#recordContent--title {
  font-size: 3.5rem;
  margin-bottom: 5px;
}
#recordContent--author {
  font-size: 1.2rem;
}
#recordContent--content-heading {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 5px;
}
#recordContent--content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.1rem;
  min-height: 250px;
  padding: 1.5%;
  margin-bottom: 25px;
}


/* Media Queries */
@media (max-width: 768px) {
  #showPreviewContainer {
    margin-top: 20px;
    min-height: 252px;
  }
}

/* Footer Styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #232323;
}
