<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An electron notes app compatible with markdown format and has mongodb storage solutions">
    <meta name="author" content="Pranav Jain <pranavj1001@gmail.com>">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Style Records</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <style>
    h1 {
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1rem;
    }
    ul {
      padding-left: 1.7rem;
    }
  </style>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container-fluid container-wrapper">
      <h1 class="main-text--heading main-text--heading--margin-top-40px" id="mainHeading"><button id="backToHome" onclick="navigateToHome()" title="Back to Home"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>Edit <strong>Record</strong></h1>
      <p class="lead main-text--paragraph">Jot down your notes, ideas, memories here.</p>
      <hr>
    </main>

    <div id="saveAlert" class="container-fluid container-wrapper display-none">
      <div class="alert alert-success" id="saveAlertText" role="alert">
      </div>
    </div>

    <div class="container-fluid container-wrapper">
      <form class="form" id="saveRecordForm">
        <div class="form-label-group">
          <input type="text" id="inputTitle" class="form-control" placeholder="Title" required autofocus>
          <label for="inputTitle">Title</label>
        </div>

        <div class="form-label-group">
          <input type="text" id="inputAuthor" class="form-control" placeholder="Author">
          <label for="inputAuthor">Author</label>
        </div>

        <div class="form-label-group">
          <input type="text" id="inputKeywords" class="form-control" placeholder="Keywords">
          <label for="inputKeywords">Keywords - Leave space for each new keyword</label>
        </div>

        <div class="form-label-group">
          <div class="row">
            <div class="col-md-6">
              <textarea type="text" onkeyup="showContentInMdFormat(value)" id="inputText" class="form-control" placeholder="Content" rows="10"></textarea>
            </div>
            <div class="col-md-6" id="showPreviewContainer">
              <div type="text" id="showPreview"></div>
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" onclick="updateNoteToDB(event)" id="updateNote" type="submit">Save</button>
      </form>
    </div>

    <footer class="footer">
      <div class="container-fluid container-wrapper">
        <span class="text-muted">&copy; Developed and Designed by Pranav Jain</span>
      </div>
    </footer>

    <script type="text/javascript">

      const marked = require('marked');
      const electron = require('electron');
      const mongoose = require('mongoose');
      const {
        RECORD_EDIT_PENDING_REQUEST,
        REQUEST_TO_UPDATE_RECORD,
        REQUEST_TO_CHECK_FOR_EDIT_REQUEST,
        RECORD_UPDATE_CONFIRMATION } = require('../constants');

      const { ipcRenderer } = electron;

      const navigateToHome = () => {
        window.location.href = `file://${__dirname}/home.html`;
      };

      const setHeightEqualToTextArea = (text) => {
        const textareaHeight = document.getElementById('inputText').clientHeight;
        const previewHeight = document.getElementById('showPreview').clientHeight;
        if (previewHeight > textareaHeight) {
          document.getElementById('inputText').style.height = previewHeight + "px";
        }

        if (text === "") {
          document.getElementById('inputText').style.height = "252px";
          document.getElementById('inputText').style.height = "252px";
        }
      };

      const showContentInMdFormat = (text) => {
        setHeightEqualToTextArea(text);
        document.getElementById('showPreview').innerHTML = marked(text);
      };

      const updateNoteToDB = (event) => {
        event.preventDefault();
        const title = document.getElementById('inputTitle').value;
        const author = document.getElementById('inputAuthor').value;
        const keywords = document.getElementById('inputKeywords').value;
        const content = marked(document.getElementById('inputText').value);
        const ogContent = document.getElementById('inputText').value;
        const edited = 1;
        const date = new Date();
        if (title !== '' && content !== '' ){
          const recordData = { title, author, keywords, content, ogContent, edited, date };
          ipcRenderer.send(REQUEST_TO_UPDATE_RECORD, recordData);
        } else if (title === '') {
          document.getElementById('inputTitle').focus();
        } else if (content === '') {
          document.getElementById('inputText').focus();
        }
      };

      ipcRenderer.send(REQUEST_TO_CHECK_FOR_EDIT_REQUEST);

      ipcRenderer.on(RECORD_EDIT_PENDING_REQUEST, (event, record) => {
        document.getElementById('inputTitle').value = record.title;
        document.getElementById('inputAuthor').value = record.author;
        document.getElementById('inputKeywords').value = record.keywords;
        document.getElementById('inputText').value = record.ogContent;
        showContentInMdFormat(record.ogContent);
      });

      ipcRenderer.on(RECORD_UPDATE_CONFIRMATION, (event, confirmation) => {
        document.getElementById('saveAlert').style.display = 'block';
        document.getElementById('saveAlertText').innerHTML = confirmation;
      });

    </script>

  </body>
</html>
