<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An electron notes app compatible with markdown format and has mongodb storage solutions">
    <meta name="author" content="Pranav Jain <pranavj1001@gmail.com>">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Style Records</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container-fluid container-wrapper">
      <h1 class="main-text--heading main-text--heading--margin-top-40px">Your <strong>Records</strong></h1>
      <p class="lead main-text--paragraph">Jot down your notes, ideas, memories here.</p>
      <hr>
    </main>

    <div class="container-fluid container-wrapper">
      <input type="text" placeholder="&#xF002; Search" onkeyup="getSearchInputText(event, value)" style="font-family:Arial, FontAwesome" id="searchBar" class="form-control">
    </div>

    <div class="container-fluid container-wrapper list-group" id="list">
      <p>Click Add Button to start writing a note.</p>
    </div>

    <button id="addANote" title="Add a Note" onclick="navigateToNewNote()"><i class="fa fa-plus" aria-hidden="true"></i></button>

    <footer class="footer">
      <div class="container-fluid container-wrapper">
        <span class="text-muted">&copy; Developed and Designed by Pranav Jain</span>
      </div>
    </footer>

    <script type="text/javascript">

      const electron = require('electron');
      const TimeAgo = require('javascript-time-ago');
      const en = require('javascript-time-ago/locale/en');
      const { ipcRenderer } = electron;
      const {
        REQUEST_TO_FETCH_ALL_RECORDS,
        REQUEST_TO_SAVE_ID_TEMP,
        RECORDS_FETCH_CONFIRMATION,
        NO_SEARCH_RESULTS_FOUND } = require('../constants');

      let searchRecords = [];
      let resetText = '<p>Click Add Button to start writing a note.</p>';

      const navigateToNewNote = () => {
        window.location.href = `file://${__dirname}/newNote.html`;
      };

      const navigateToViewNote = (element) => {
        ipcRenderer.send(REQUEST_TO_SAVE_ID_TEMP, element.getAttribute('record-id'));
        window.location.href = `file://${__dirname}/viewNote.html`;
      };

      const getSearchInputText = (e, value) => {
        let results = [];
        if(searchRecords.length !== 0) {
          for(let i = 0; i < searchRecords.length; i++) {

          }
        } else {
          document.getElementById('list').innerHTML = NO_SEARCH_RESULTS_FOUND;
        }
      };

      const showList = (records, runOnce) => {
        let listContents = '';
        TimeAgo.locale(en);
        const timeAgo = new TimeAgo('en-US');
        for(let i = records.length-1; i >= 0; i--) {
          const keywords = records[i].keywords.split(" ");
          const currentRecordDate = timeAgo.format(Date.parse(records[i].date));
          let addedOrUpdated = 'Added';
          if (records[i].edited === 1 ) {
            addedOrUpdated = 'Updated';
          }
          listContents += `
          <a href="#" onclick="navigateToViewNote(this)" record-id="${records[i].id.toString()}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">${records[i].title}</h5>
          <small>${addedOrUpdated} ${currentRecordDate}</small>
          </div>
          <p class="mb-1">`;
          for(let j = 0; j < keywords.length; j++) {
            listContents += `<span class="list-keywords">${keywords[j]}</span>`;
          }
          listContents += `</p>
          <small>By ${records[i].author}</small>
          </a>`;
        }
        document.getElementById('list').innerHTML = listContents;
        if(runOnce === 1) {
          resetText = listContents;
        }
      };

      ipcRenderer.send(REQUEST_TO_FETCH_ALL_RECORDS);

      ipcRenderer.on(RECORDS_FETCH_CONFIRMATION, (event, records) => {
        searchRecords = records;
        if(searchRecords.length > 0) {
          showList(records, 1);
        }
        console.log(searchRecords);
        console.log(document.getElementById('list').childNodes);
      });

    </script>

  </body>
</html>
