<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An electron notes app compatible with markdown format and has mongodb storage solutions">
    <meta name="author" content="Pranav Jain <pranavj1001@gmail.com>">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Style Records</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container-fluid container-wrapper">
      <h1 class="main-text--heading main-text--heading--margin-top-40px">Your <strong>Records</strong></h1>
      <p class="lead main-text--paragraph">Jot down your notes, ideas, memories here.</p>
      <hr>
    </main>

    <div class="container-fluid container-wrapper list-group" id="list">
      <p>Click Add Button to start writing a note.</p>
    </div>

    <button id="addANote" title="Add a Note" onclick="navigateToNewNote()"><i class="fa fa-plus" aria-hidden="true"></i></button>

    <footer class="footer">
      <div class="container-fluid container-wrapper">
        <span class="text-muted">&copy; Developed and Designed by Pranav Jain</span>
      </div>
    </footer>

    <script type="text/javascript">

      const electron = require('electron');
      const { ipcRenderer } = electron;
      const {
        REQUEST_TO_FETCH_ALL_RECORDS,
        RECORDS_FETCH_CONFIRMATION } = require('../constants');

      const navigateToNewNote = () => {
        window.location.href = `file://${__dirname}/newNote.html`;
      };

      ipcRenderer.send(REQUEST_TO_FETCH_ALL_RECORDS);

      ipcRenderer.on(RECORDS_FETCH_CONFIRMATION, (event, records) => {
        let listContents = '';
        for(let i = records.length-1; i >= 0; i--) {
          listContents += `
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">${records[i]._doc.title}</h5>
              <small>Added few mins ago</small>
            </div>
            <p class="mb-1">${records[i]._doc.keywords}</p>
            <small>By ${records[i]._doc.author}</small>
          </a>`;
        }
        document.getElementById('list').innerHTML = listContents;
      });

    </script>

  </body>
</html>
