<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An electron notes app compatible with markdown format and has mongodb storage solutions">
    <meta name="author" content="Pranav Jain <pranavj1001@gmail.com>">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Style Records</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container-fluid container-wrapper">
      <h1 class="main-text--heading main-text--heading--margin-top-40px"><button id="backToHome" onclick="navigateToHome()" title="Back to Home"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>New <strong>Record</strong></h1>
      <p class="lead main-text--paragraph">Jot down your notes, ideas, memories here.</p>
      <hr>
    </main>

    <div class="container-fluid container-wrapper">
      <form class="form">
        <div class="form-label-group">
          <input type="text" id="inputTitle" class="form-control" placeholder="Title" required autofocus>
          <label for="inputTitle">Title</label>
        </div>

        <div class="form-label-group">
          <input type="text" id="inputAuthor" class="form-control" placeholder="Author" required>
          <label for="inputAuthor">Author</label>
        </div>

        <div class="form-label-group">
          <input type="text" id="inputKeywords" class="form-control" placeholder="Keywords">
          <label for="inputKeywords">Keywords</label>
        </div>

        <div class="form-label-group">
          <div class="row">
            <div class="col-lg-6">
              <textarea type="text" onkeyup="showContentInMdFormat(value)" id="inputText" class="form-control" placeholder="Content" rows="10"></textarea>
            </div>
            <div class="col-lg-6">
              <div type="text" id="showPreview"></div>
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" id="saveNote" type="submit">Save</button>
      </form>
    </div>

    <footer class="footer">
      <div class="container-fluid container-wrapper">
        <span class="text-muted">&copy; Developed and Designed by Pranav Jain</span>
      </div>
    </footer>

    <script type="text/javascript">

      const marked = require('marked');

      const navigateToHome = () => {
        window.location.href = `file://${__dirname}/home.html`;
      };

      const showContentInMdFormat = (text) => {
        document.getElementById('showPreview').innerHTML = marked(text);
      };

    </script>

  </body>
</html>
