<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An electron notes app compatible with markdown format and has mongodb storage solutions">
    <meta name="author" content="Pranav Jain <pranavj1001@gmail.com>">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Style Records</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <style>
    h1 {
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1rem;
    }
    ul {
      padding-left: 1.7rem;
    }
  </style>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container-fluid container-wrapper">
      <h1 class="main-text--heading main-text--heading--margin-top-40px" data-aos="fade-down"><button id="backToHome" onclick="navigateToHome()" title="Back to Home"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>Your <strong>Record</strong></h1>
      <hr>
    </main>

    <div id="recordContent" class="container-fluid container-wrapper">
      <p id="recordContent--title"></p>
      <p id="recordContent--keywords"></p>
      <p id="recordContent--author"></p>
      <p id="recordContent--content-heading">Content:</p>
      <div id="recordContent--content"></div>
      <p id="recordContent--date"></p>

      <button class="btn btn-lg btn-primary btn-block" onclick="editNote()" id="editNote" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
      <button class="btn btn-lg btn-danger btn-block" onclick="openDeleteModal()" id="deleteNote"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
    </div>

    <div id="deleteModal" class="custom-modal">
      <div class="custom-modal--content">
        <p>Are you sure?</p>
        <hr>
        <div class="custom-modal--body">
          <p class="alert alert-danger" id="deleteModalAlert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This is a potentially destructive action <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><br><br> Please be sure before going ahead.</p>
        </div>
        <hr>
        <div class="custom-modal--options">
          <button class="btn btn-lg btn-primary" id="dontDeleteRecord" onclick="hideModal()">No</button>
          <button class="btn btn-lg btn-default" id="deleteRecordButton" onclick="deleteRecord()">Yes</button>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid container-wrapper">
        <span class="text-muted">&copy; Developed and Designed by Pranav Jain</span>
      </div>
    </footer>

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script type="text/javascript">

      const marked = require('marked');
      const electron = require('electron');
      const mongoose = require('mongoose');
      const TimeAgo = require('javascript-time-ago');
      const en = require('javascript-time-ago/locale/en');
      const {
        REQUEST_TO_FETCH_A_RECORD,
        RECORD_FETCH_CONFIRMATION,
        REQUEST_TO_EDIT_A_RECORD,
        REQUEST_TO_DELETE_A_RECORD } = require('../constants');

      const { ipcRenderer } = electron;

      AOS.init();

      const navigateToHome = () => {
        window.location.href = `file://${__dirname}/home.html`;
      };

      const editNote = () => {
        ipcRenderer.send(REQUEST_TO_EDIT_A_RECORD);
        window.location.href = `file://${__dirname}/editNote.html`
      };

      const openDeleteModal = () => {
        document.getElementById('deleteModal').className += ' showModal';
      };

      const hideModal = () => {
        document.getElementById('deleteModal').classList.remove('showModal');
      };

      const deleteRecord = () => {
        ipcRenderer.send(REQUEST_TO_DELETE_A_RECORD);
        window.location.href = `file://${__dirname}/home.html`;
      };

      ipcRenderer.send(REQUEST_TO_FETCH_A_RECORD);

      ipcRenderer.on(RECORD_FETCH_CONFIRMATION, (event, record) => {
        const keywords = record._doc.keywords.split(" ");
        let keywordsList = '';
        TimeAgo.locale(en);
        const timeAgo = new TimeAgo('en-US');
        const currentRecordDate = timeAgo.format(Date.parse(record._doc.date));
        for(let j = 0; j < keywords.length; j++) {
          keywordsList += `<span class="list-keywords">${keywords[j]}</span>`;
        }
        document.getElementById('recordContent--title').innerHTML = record._doc.title;
        document.getElementById('recordContent--keywords').innerHTML = keywordsList;
        document.getElementById('recordContent--author').innerHTML = `By <span class="underlined-text">${record._doc.author}</span>`;
        document.getElementById('recordContent--content').innerHTML = record._doc.content;
        let addedOrUpdated = 'Added';
        if (record._doc.edited === 1 ) {
          addedOrUpdated = 'Updated';
        }
        document.getElementById('recordContent--date').innerHTML = `${addedOrUpdated} ${currentRecordDate}`;
      });

    </script>

  </body>
</html>
